{% extends 'admin/http_stubs/includes/fieldset.html' %}
{% load stub_tags %}
{% block readonly_field %}
    {% if field.field.name == 'headers' %}
        <ul class="readonly">
            {% for header in field.contents|headers_to_list %}
                <li>{{ header }}</li>
            {% endfor %}</ul>
    {% elif field.field.name == 'pretty_body' %}
        <div class="readonly">
            <pre>{{ field.contents }}</pre>
        </div>
    {% elif field.field.name == 'body' %}
        <div class="readonly">
            <div style="overflow:auto;width:85vw;">{{ field.contents }}</div>
        </div>
    {% else %}
        <div class="readonly">{{ field.contents }}</div>{% endif %}
{% endblock %}
