[tool.poetry]
name = "parrot"
version = "0.1.1"
description = "Service for testing http requests and webhooks."
authors = ["Evgeniy Mitin <emitin@uma.tech>"]
maintainers = ["Evgeniy Mitin <emitin@uma.tech>"]
license = "Apache License 2.0"
repository = "https://github.com/Uma-Tech/parrot"
readme = "README.md"
keywords = ["testing", "webhook", "postbin", "http", "requests"]

classifiers = [
  "Development Status :: 5 - Production/Stable",
  "Environment :: Web Environment",
  "Framework :: Django",
  "Intended Audience :: Developers",
  "Operating System :: OS Independent",
  "Programming Language :: Python :: 3.8",
  "Topic :: Software Development :: Testing"
]

[tool.poetry.dependencies]
python = "~3.8"
django = "~3.0.6"
django-simpleui = "~2020.7"
uvicorn = "~0.11.5"
psycopg2 = "~2.8.5"
django-environ = "^0.4.5"

[tool.poetry.dev-dependencies]
pytest = "~5.2"
pytest-django = "~3.9.0"
pytest-cov = "~2.10.0"
pytest-freezegun = "^0.4.2"
wemake-python-styleguide = "~0.14.0"
flake8-use-fstring = "~1.0"
flake8-django = "~1.0.0"
flake8-type-annotations = "~0.1.0"
flake8-annotations-coverage = "~0.0.4"

[build-system]
requires = ["poetry>=1.0.5"]
build-backend = "poetry.masonry.api"
