version: "3.8"

services:

  parrot-app:
    depends_on:
      - "parrot-database"

  parrot-database:
    image: postgres:12.3
    restart: unless-stopped
    container_name: parrot-database
    environment:
      - POSTGRES_USER=parrot
      - POSTGRES_PASSWORD=parrot
    ports:
      - "5432"
    volumes:
      - "${PARROT_DB_VOLUME:-db-volume}:/var/lib/postgresql/data"

volumes:
  db-volume:
